.big-img {
  width: 450px
}

.grandparent-container {
  margin-left: 16px;
  margin-top: 16px;
}



.button {
  margin-bottom: 16px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.time {
  width: 250px;
  background-color: #F4F8D3;
  border-radius: 16px;
  text-align: center;
  border: solid 1px grey;
  margin:8px;
  padding: 8px;
}
