.big-img {
  width: 450px
}

// .grandparent-container {
//   // margin: auto;
//   // width: 50%;
//   text-align: center;
//   // justify-content: center;

// }

// .grandparent-details {

// }


.button {
  margin: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
