
<div class="new-booking">
  <h1>New Booking</h1>
  <%= simple_form_for [@grandparent, @booking] do |f| %>
    <%= f.input :start_time,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit "Submit Booking", class: "button" %>
  <% end %>
  <%= link_to "Back to #{@grandparent.user.first_name}'s Profile", grandparent_path(@grandparent), class: "button" %>
</div>
