<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <p>&copy; <%= Time.current.year %> All rights reserved.</p>
    <p class="mb-0">Made with love by Roadies at Le Wagon London.</p>
  </div>
</footer>
