<div class="banner" style="background-image: url('<%= asset_path('hq720.jpg') %>'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container">
    <h1 class="fw-bold">Learn from the best</h1>
    <p class="lead">You need a granny and granny needs you</p>
    <%= link_to "Hire a granny now", grandparents_path, class: " btn btn-light mt-3 rounded-3"%>
    <%= link_to "Make a grandparent page", new_grandparent_path, class: " btn btn-light mt-3 rounded-3"%>
  </div>
</div>

<div class="container my-5">
  <div class="row g-4 justify-content-center">


    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title fw-bold">Benedict Rees-Mogg</h4>
          <p class="text-muted">Architecture & Engineering</p>
          <p class="card-text">Architect and Engineer with over 15 years in the field. Passionate about inspiring the next generation, he enjoys sharing basic knowledge of architecture and engineering with children and teenagers.</p>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title fw-bold">Charlotte Hayes</h4>
          <p class="text-muted">Jewellery Design</p>
          <p class="card-text">Charlotte Hayes is an expert in jewellery design with 10+ years of experience. She loves helping people learn how to create their own unique pieces.</p>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title fw-bold">Wasaki Wafula</h4>
          <p class="text-muted">Electric Guitar Playing</p>
          <p class="card-text">With 35 years of experience, Wasaki Wafula brings passion and real-world skill to every session. Whether you’re strumming your first chord or chasing your rockstar dreams, his sessions are perfect for young musicians ready to make some noise.</p>
        </div>
      </div>
    </div>

  </div>
</div>
